<form>
	<div class="form-group d-flex justify-content-center mt-5 mb-5">
  	  <div class="form-outline w-50">
    	  <input id="search-input" type="text" id="query" name="query" class="form-control" placeholder="search" value="{{query}}"/>
  	  </div>
	  <select id="sort-select" class="form-select w-25 mx-4 {{#unless sort}}text-muted{{/unless}}" name="sort">
		  <option value="" disabled selected hidden>sort by...</option>
           <option class="text-dark" value="yotas_asc" {{#if (eq sort "yotas_asc")}}selected{{/if}}>Yotas (Low to High)</option>
           <option class="text-dark" value="yotas_desc" {{#if (eq sort "yotas_desc")}}selected{{/if}}>Yotas (High to Low)</option>
      </select>
  	  <button type="submit" class="btn btn-primary">
  	  	  <i class="fa fa-search" aria-hidden="true"></i>
  	  </button>
	</div>
</form>

<div class="container" style="margin-bottom: 25px">
    <div class="row g-3">
        {{#each records}}
            <div class="col-md-4">
                <div class="d-flex justify-content-between dev-card">
                    <span class="d-flex align-items-end">
                        <a style="text-decoration: none;" href="{{this.github_account}}" target="_blank">
                            <img class="rounded" style="width: 50px;" src="{{ this.github_account}}.png"/>
                        </a>
                        <div class="container">
                            <div class="row pb-2">
                                <a class="col" style="text-decoration: none;" href="{{this.github_account}}" target="_blank">
                                    <span>{{this.github_handle}}</span>
                                </a>
                            </div>
                            <div class="row" style="font-size: 0.8rem">
                                <span class="col">{{this.grade}}</span>
                            </div>
                        </div>
                    </span>
                    <span class="d-flex align-items-center" style="text-align: center">
                        <strong> {{this.yotas}} Yts</strong>
                    </span>
                </div>
            </div>
        {{/each}}
    </div>
</div>

{{#if  (isLower 0 pages)}}
    {{>pagination}}
{{/if}}

<script>
    document.getElementById('sort-select').addEventListener('change', function() {
        this.form.submit();
    });
</script>
