<div class="container mt-5" style="margin-bottom: 25px">
    <div class="d-flex align-items-center justify-content-center">
        <a href="https://github.com/osscameroon/{{repo}}" target="_blank" class="text-decoration-none fs-5 fw-bold">See {{repo}} on github</a>
    </div>
    <div class="d-flex justify-content-center mt-5 mb-5">
        <div class="row g-3">
            {{#each items}}
                <div class="col-md-6 mb-3">
                    <div class="card shadow-sm h-100">
                        <div class="card-body">
                            <h5 class="card-title"><a  href="{{this.link}}" class="text-decoration-none">
                                {{this.title}}
                            </a></h5>
                            <p class="card-text fw-light" style="font-size: 0.9em !important;">
                                {{this.description}}
                            </p>
                            <p class="mt-4">
                                {{#each this.labels}}
                                    <span class="badge bg-primary">{{this}}</span>
                                {{/each}}
                            </p>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
