<div class="container mt-5" style="margin-bottom: 25px">
    <div class="alert alert-primary d-flex align-items-center" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-info-circle-fill" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </svg> &nbsp;&nbsp;
        <div>
            Select a project to see issues
        </div>
    </div>
    <div class="d-flex justify-content-center mt-5 mb-5">
        <div class="row g-3">
            {{#each items}}
                <div class="col-md-4 mb-3">
                    <div class="card shadow-sm h-100">
                        <div class="card-body">
                            <h5 class="card-title"><a  href="{{@root.fullUrl}}/{{this.title}}" class="text-decoration-none">
                                {{this.title}}{{fullUrl}}
                            </a></h5>
                            <p class="card-text fw-light" style="font-size: 0.9em !important;">
                                {{this.description}}
                            </p>
                            <p class="mt-4">
                                <a href="" class="btn btn-outline-primary rounded-pill">
                                    Issues <span class="badge bg-primary">{{this.issues}}</span>
                                </a>
                                <span class="badge bg-light text-dark rounded-pill"
                                      style="padding: 14px">{{this.language}}</span>
                            </p>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>
